* {
      margin: 0;
      padding: 0;
}
body {
      display: block;
      font-size: 14px;
      background-color: rgb(10, 33, 32);
}
.my-display {
      width: 80%;
      margin: 0 auto;
      height: 100%;
      width: 100%;
}
/* css for opening my page on tablets (screens with width <=768px) */
@media screen and (max-width: 768px) {
      body {
            font-size: 16px;
      }
      .my-display {
            width: 100%;
      }
}
/* css for opening my page on laptops,pcs etc (screens with width <=1080px) */
@media screen and (max-width: 1080px) {
      body {
            font-size: 14px;
      }
      .my-display {
            width: 100%;
      }
}
/* css for opening my page on phones (screens with width <=480px) */
@media screen and (max-width: 480px) {
      body {
            font-size: 10px;
      }
      .my-display {
            width: 100%;
      }
}
header {
      width: 100%;
      height: 60px;
      display: flex;
      align-items: center;
      background-color: rgb(62, 188, 176);
      opacity: 80%;
      gap: 31.5px;
}
.logo {
      height: 83%;
      width: 70px;
      margin: 0 30px 0;
}
.logo img {
      height: 100%;
      width: 100%;
}
.search {
      width: 200px;
      height: 30px;
      background-color: rgb(95, 95, 95);
      display: flex;
      align-items: center;
      justify-content: space-evenly;
}
.search img {
      width: 10%;
      height: 65%;
      padding: 6px;
}
.search input {
      width: 90%;
      padding: 5.34px;
      border: none;
      outline: none;
      background-color: rgb(207, 207, 207);
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size: 16px;
}
.home {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size: 22px;
      margin-left: 40px;
      padding: 7px;
}
.home:hover {
      background-color: rgb(161, 161, 161);
}
.home a {
      text-decoration: none;
      font-weight: 700;
      color: white;
}
.gallery {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size: 22px;
      padding: 7px;
}
.gallery:hover {
      background-color: rgb(161, 161, 161);
}
.gallery a {
      text-decoration: none;
      font-weight: 700;
      color: white;
}
.members {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size: 22px;
      padding: 7px;
}
.members:hover {
      background-color: rgb(161, 161, 161);
}
.members a {
      text-decoration: none;
      font-weight: 700;
      color: white;
}
.about {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size: 22px;
      padding: 7px;
}
.about:hover {
      background-color: rgb(161, 161, 161);
}
.about a {
      text-decoration: none;
      font-weight: 700;
      color: white;
}
.membership {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size: 22px;
      padding: 7px;
}
.membership:hover {
      background-color: rgb(161, 161, 161);
}
.membership a {
      text-decoration: none;
      font-weight: 700;
      color: white;
}
.login {
      height: 90%;
      width: 55px;
      float: right;
      margin-left: 40px;
}
.login img {
      height: 100%;
      width: 100%;
      cursor: pointer;
}
.wrapper {
      width: 98.3%;
      height: auto;
      background-color:rgb(62, 188, 176);
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 30px;
      padding: 10px;
}
#welcome {
      width: 60%;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size: 16px;
}
#welcome h1 {
      text-align: center;
}
#welcome p {
      text-align: center;
}