* {
      margin: 0;
      padding: 0;
}
body {
      display: block;
      font-size: 14px;
      background-color: rgb(10, 33, 32);
}
.my-display {
      width: 80%;
      margin: 0 auto;
      height: 100%;
      width: 100%;
}
/* css for opening my page on tablets (screens with width <=768px) */
@media screen and (max-width: 768px) {
      body {
            font-size: 16px;
      }
      .my-display {
            width: 100%;
      }
}
/* css for opening my page on laptops,pcs etc (screens with width <=1080px) */
@media screen and (max-width: 1080px) {
      body {
            font-size: 14px;
      }
      .my-display {
            width: 100%;
      }
}
/* css for opening my page on phones (screens with width <=480px) */
@media screen and (max-width: 480px) {
      body {
            font-size: 10px;
      }
      .my-display {
            width: 100%;
      }
}
header {
      width: 100%;
      height: 60px;
      display: flex;
      align-items: center;
      background-color: rgb(62, 188, 176);
      opacity: 80%;
      gap: 31.5px;
}
.logo {
      height: 83%;
      width: 70px;
      margin: 0 30px 0;
}
.logo img {
      height: 100%;
      width: 100%;
}
.search {
      width: 200px;
      height: 30px;
      background-color: rgb(95, 95, 95);
      display: flex;
      align-items: center;
      justify-content: space-evenly;
}
.search img {
      width: 10%;
      height: 65%;
      padding: 6px;
}
.search input {
      width: 90%;
      padding: 5.34px;
      border: none;
      outline: none;
      background-color: rgb(207, 207, 207);
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size: 16px;
}
.home {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size: 22px;
      margin-left: 40px;
      padding: 7px;
}
.home:hover {
      background-color: rgb(161, 161, 161);
}
.home a {
      text-decoration: none;
      font-weight: 700;
      color: white;
}
.gallery {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size: 22px;
      padding: 7px;
}
.gallery:hover {
      background-color: rgb(161, 161, 161);
}
.gallery a {
      text-decoration: none;
      font-weight: 700;
      color: white;
}
.members {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size: 22px;
      padding: 7px;
}
.members:hover {
      background-color: rgb(161, 161, 161);
}
.members a {
      text-decoration: none;
      font-weight: 700;
      color: white;
}
.about {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size: 22px;
      padding: 7px;
}
.about:hover {
      background-color: rgb(161, 161, 161);
}
.about a {
      text-decoration: none;
      font-weight: 700;
      color: white;
}
.membership {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size: 22px;
      padding: 7px;
}
.membership:hover {
      background-color: rgb(161, 161, 161);
}
.membership a {
      text-decoration: none;
      font-weight: 700;
      color: white;
}
.login {
      height: 90%;
      width: 55px;
      float: right;
      margin-left: 40px;
}
.login img {
      height: 100%;
      width: 100%;
      cursor: pointer;
}
.wrapper {
      width: 50%;
      height: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 30px;
      background-color: rgb(64, 136, 129);
      padding: 30px;
      margin-left: 300px;
}
#welcome {
      width: 100%;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size: 16px;
}
#welcome h1 {
      text-align: center;
      color: rgb(0, 6, 97);
      font-size: 40px;
}
#welcome p {
      text-align: center;
      font-size: 18px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.html-books {
      height: 50px;
      width: 65%;
      background-color: brown;
      margin: 30px 230px 0;
      border-radius: 6px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      color: rgb(0, 6, 97);
}
.html-books p {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size: 26px;
      font-weight: 700;
}
.css-books {
      height: 50px;
      width: 65%;
      background-color: brown;
      margin: 30px 230px 0;
      border-radius: 6px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      color: rgb(0, 6, 97);
}
.css-books p {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size: 26px;
      font-weight: 700;
}
.javascript-books {
      height: 50px;
      width: 65%;
      background-color: brown;
      margin: 30px 230px 0;
      border-radius: 6px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      color: rgb(0, 6, 97);
}
.javascript-books p {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size: 26px;
      font-weight: 700;
}
.php-books {
      height: 50px;
      width: 65%;
      background-color: brown;
      margin: 30px 230px 0;
      border-radius: 6px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      color: rgb(0, 6, 97);
}
.php-books p {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size: 26px;
      font-weight: 700;
}
.python-books {
      height: 50px;
      width: 65%;
      background-color: brown;
      margin: 30px 230px 0;
      border-radius: 6px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      color: rgb(0, 6, 97);

}
.python-books p {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size: 26px;
      font-weight: 700;
}
.Cpp-books {
      height: 50px;
      width: 65%;
      background-color: brown;
      margin: 30px 230px 0;
      border-radius: 6px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      color: rgb(0, 6, 97);
}
.Cpp-books p {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size: 26px;
      font-weight: 700;
}
.comment {
      width: 50%;
      margin: 50px 240px 0;
      padding: 16px;
}
.comment h2 {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size: 26px;
      font-weight: 700;
      color: white;
}
.comment label {
      margin-top: 30px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size: 20px;
      font-weight: 700;
      color: white;
}
.comment input {
      margin: 30px 6px 0;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size: 14px;
      padding: 7.5px;
      border: none;
      outline: none;
      border-radius: 3px;
}
#email-label {
      margin-left: 30px;
}
#phone-label {
      margin-left: 130px;
}
.comment textarea {
      width: 96%;
      height: 200px;
      margin: 30px 5px 0;
}
.bach-to-top {
      width: 100%;
      height: 50px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      margin-top: 30px;
      background-color: rgb(13, 20, 27);
}
.bach-to-top button {
      padding: 5px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size: 18px;
      font-weight: 700;
      background-color: rgb(13, 20, 27);
      border: none;
      color: white;
}
footer {
      height: 350px;
      background-color: rgb(0, 0, 0);
}
.foot-panel1 {
      height: 80%;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 150px;
      color: white;
}
#panel1 h2 {
      margin-bottom: 10px;
      text-align: center;
}
#panel1 p {
      margin-bottom: 3px;
      text-align: start;
      font-size: 16px;
}
.foot-panel2 {
      height: 20%;
      border-top: 1px solid white;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size: 14px;
      font-weight: 700;
}
#panel2 h2 {
      margin-bottom: 10px;
      text-align: center;
}
#panel2 p {
      margin-bottom: 3px;
      text-align: start;
      font-size: 16px;
}
.relation {
      display: flex;
      align-items: center;
      gap: 1rem;
  }
  #insta {
      height: 3rem;
      width: 3rem;
      background-color: rgb(6, 53, 51);
      border-radius: 3rem;
      margin-top: 10px;
      border: 0.5vh solid rgb(0, 97, 114);
      transition: 0.3s ease;
      box-shadow: 0px 0px 1.2rem rgba(17, 251, 255, 0.4);
  }
  #insta:hover {
      transform: scale(1.1); /* Zoom in effect on hover */
      box-shadow: 0rem 0rem 1rem rgba(17, 251, 255, 0.4), 0rem 0rem 1rem rgba(17, 251, 255, 0.4);
  }
  #facebook {
      height: 3rem;
      width: 3rem;
      background-color: rgb(6, 53, 51);
      margin-top: 10px;
      border-radius: 3rem;
      border: 0.5vh solid rgb(0, 97, 114);
      box-shadow: 0px 0px 1.2rem rgba(17, 251, 255, 0.4);
      transition: 0.3s ease;
  }
  #facebook:hover {
      transform: scale(1.1); /* Zoom in effect on hover */
      box-shadow: 0rem 0rem 1rem rgba(17, 251, 255, 0.4), 0rem 0rem 1rem rgba(17, 251, 255, 0.4);
  }
  #tiktok {
      height: 3rem;
      width: 3rem;
      background-color: rgb(6, 53, 51);
      margin-top: 10px;
      border-radius: 3rem;
      border: 0.5vh solid rgb(0, 97, 114);
      box-shadow: 0px 0px 1.2rem rgba(17, 251, 255, 0.4);
      transition: 0.3s ease;
  }
  #tiktok:hover {
      transform: scale(1.1); /* Zoom in effect on hover */    
      box-shadow: 0rem 0rem 1rem rgba(17, 251, 255, 0.4), 0rem 0rem 1rem rgba(17, 251, 255, 0.4);
  }
  #twitter {
      height: 3rem;
      width: 3rem;
      background-color: rgb(6, 53, 51);
      margin-top: 10px;
      border-radius: 3rem;
      border: 0.5vh solid rgb(0, 97, 114);
      box-shadow: 0px 0px 1.2rem rgba(17, 251, 255, 0.4);
      transition: 0.3s ease;
  }
  #twitter:hover {
      transform: scale(1.1); /* Zoom in effect on hover */
      box-shadow: 0rem 0rem 1rem rgba(17, 251, 255, 0.4), 0rem 0rem 1rem rgba(17, 251, 255, 0.4);
  }
  